.profile-container {
    display: flex;
    flex-direction: column;
}

.tag-cloud {
    width: 500px;

}

#profile-header {
    width: 100vw;
    height: 150px;
    background-color: #CAE9FF;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#profile-header-left {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

#profile-header-left > img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    align-self: center;
}

#profile-header-right {
    position: absolute;
    right: 15px;
    padding-top: 15px;
}

#user-info {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    margin-top: 25px;
}

#user-info > * {
    height: 15px;
}

#res-header {
    height: 20px;
}

#name-car {
    background-color: lightgrey;
    width: 150px;
    font-size: 17px;
    font-weight: 900;
    height: 38px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    line-height: 18px;
    padding-top: 5px;
}


#reserve-wrapper-p {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}
#tabletalkers-wrapper {
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

div > h3 {
    font-size: 45px;
    font-weight: 700;
}

#reservation-card-container {
    margin-bottom: 0px;
    height: 100%;
}

